{{#each this}}
  <div class='country-info--flag-title'><img
      class='flag-title--flag-img'
      src={{flags.svg}}
      width='60px'
      alt={{name.official}}
    />
    <h1>{{name.official}}</h1></div>
  <p><span>Capital:</span> {{capital}}</p>
  <p><span>Population:</span> {{population}}</p>
  {{!-- <p><span>Languages:</span> {{#each languages}} {{name}} {{/each}}</p> --}}
  <p><span>Languages:</span> {{languages}}</p>
{{/each}}